@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Nunito:wght@600;800&display=swap');


$gray: #EDEDF4;
$deepgray: #9D9D9D;
$blueblack: #212529; 
$redorange: #E53B1A;


$defaultspace: 2em; 
$elementspace: 4em;
$elementspace-lg: 5em;

$headingspace: 0.75rem; 
$mediumspace: 0.5rem;
$featurespace: 0.25rem; 

