@import 'variables'; 

.hero-page.about {
    background-color: $blueblack;

    & .hero-img {
        background: linear-gradient(0deg, rgba(33,37,41,1) 15%, rgba(33,37,41,0) 60%), url("../img/kinesics_solutions_about_us_hero.jpg") center center;
        background-size: cover;
    }
}

.mission-vision {

    padding: 0 1em;

    & .container-section {

        display: flex;
        flex-direction: column;
        align-items: center; 
        gap: 1em; 

        & .block {
            background-color: $blueblack;
            border-radius: 1em;
            padding: 2em 1.25em;
            max-width: fit-content;

            & img {
                background-color: white;
                max-width: 9em;
                height: 9em;
                border-radius: unset;
                padding: 1.5em;
                object-fit: contain;
                clip-path: circle(50%);
                z-index: 0;
            }

            & h3 {
                padding: $headingspace 0;
            }
        }

    }
}

.more {
    background: linear-gradient(0deg, rgba(237,237,244,1) 70%, rgba(255,255,255,1) 70%);

}

@media all and (min-width: 1024px) {


    .hero-page.about {
        background-color: $blueblack;
    
        & .hero-img {
            background: linear-gradient(0deg, rgba(33,37,41,1) 0%, rgba(33,37,41,0) 65%), url("../img/kinesics_solutions_about_us_hero.jpg") center center;
            background-size: cover;
        }
    }

    .mission-vision {

        padding-bottom: $elementspace-lg;
    
        & .container-section {
    
            display: flex;
            flex-direction: row; 
    
            & .block {
                padding: 5em;
                text-align: center;
                    
                & h3 {
                    padding: $defaultspace 0;
                }
            }
    
        }
    }

    .more {
        background: linear-gradient(90deg, rgba(237,237,244,0.9) 50%, rgba(237,237,244,0) 90%), url("../img/kinesics_solutions_laboratories.jpg") center center;
        background-size: cover;
        background-repeat: no-repeat;
        min-height: 38em;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    

    

}
