@import 'variables'; 

body {
    width: 100vw; 
    overflow-x: clip;
    background-color: transparent;
}

.text {
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.7;
    padding: 0 2rem; 
    transform-origin: center center;
}

.enfasi {
    font-size: 1.5rem; 
    line-height: 1.7;
    text-align: center;
    padding: 1rem;
    transform-origin: center center; 
}

.title {
    font-size: 2.5rem;
    font-family: "Nunito", sans-serif;
    text-align: center;
    transform-origin: center center;
}

.orange {
    color: $redorange;
}

.wrapper {

    background-color: transparent;

    .apto-presentation {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background: radial-gradient(circle at 50% 50%, #E53B1A80 0vh, #E53B1A00 45vh);
        z-index: 5;
        
        & img {
            width: 100vw;
            min-height: 100vh;
            object-fit: cover;
            z-index: 5;
        }

    }
    
    
    .apto-description {
        min-height: 100vh;
        z-index: 0;
        will-change: filter;
    
        & .description-container {
            position: absolute;
            min-height: 100vh;
            width: 100vw;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            overflow-x: clip;
            overflow-y: visible;
            z-index: -1;
            
            & svg {
                width: 70vw;
                fill: $redorange;
                margin-bottom: 3vw;
                mix-blend-mode: overlay;
            }
        
            & .payoff {
                font-size: 10vw; 
                font-family: "Nunito", sans-serif;
                font-weight: 700;
                opacity: 1;
                display: block;
        
            }

            & .sub-payoff {
                font-size: 5vw;
                text-align: center;
                padding-top: 6vw; 
                line-height: 1.7;
                opacity: 1;
            }
    
        }
    
        
    }
    
    .apto-feature {
        position: relative;
        min-height: 100vh;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-start;

    
            & .feature { 
                width: 100vw;
                max-width: 100vw; 
                padding: 1rem;
            }

            & .mascherino {
                position: absolute;
                background-image: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(255, 255, 255, 1) 50%);
                min-height: 100vh; 
                width: 100vw;
                will-change: background-image;
            }
        
        
    }

}

.apto-video {
    position: relative;
    height: 100vh;
    background-color: $blueblack;
    color: white;
    opacity: 1;
    will-change: opacity;

    & video {
        height: 40vh; 
        object-fit: cover;
        margin-bottom: 1rem;
    }

    & p {
        margin-top: 1rem; 
        will-change: filter;
    }
    
}

.apto-instruction-title {
    min-height: 100vh;
    background-color: $blueblack; 
    color: white; 
    overflow: hidden;
    will-change: background-color;

    & .container-title-instruction {

        & .title-instruction {
            will-change: position, filter, opacity, font-size;
        }
        
    }
    
}

.apto-instruction {
    min-height: 50vh;
    background-color: $blueblack; 
    color: white; 
    will-change: background-color;

    & .container-instruction {

        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 2em;

        & img{
            max-width: 16em;
            width: 100%;
            background-color: $gray;
            clip-path: circle(50%);
            padding: 2rem;
        }
    }    
}


.apto-technology-title {
    min-height: 100vh;
    overflow: hidden;
    background-color: $gray;
    will-change: background-color;

    & .container-title-technology {

        & .title-technology {
            will-change: position, filter, opacity, font-size;
        }
        
    }
    
}

.apto-technology {
    min-height: 120vh;
    background-color: $gray;
    position: relative;
    will-change: background-color;

    & .container-technology {
        position: absolute;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        gap: 2em;
        overflow: hidden;
        min-height: 120vh;

        & .esploso {
            display: block;
            height: 70vw;
            width: 70vw;
            transform-origin: top left;
            pointer-events: none;

            & img{
                position: absolute; 
                height: 70vw;
                width: 70vw;
        
            }

        }

        

    }

    
}
