@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Nunito:wght@500;600;700;800&display=swap");
p {
  max-width: unset;
  color: #212529;
}

.pin-spacer {
  background-color: red;
}

.ah2 {
  font-family: "Nunito", sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3.25rem;
}

.ah3 {
  font-family: "Nunito", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.ah4 {
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.7rem;
}

.ah5 {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #E53B1A;
}

.mb {
  margin-bottom: 1rem;
}

.mb1 {
  margin-bottom: 0.8rem;
}

.mb2 {
  margin-bottom: 0.5rem;
}

.mbxl {
  margin-bottom: 4rem;
}

.p-text {
  padding: 0 1em;
}

.text-white {
  color: white;
}

.text-centered {
  text-align: center;
}

.w-500 {
  font-weight: 500;
}

.strong {
  font-weight: 700;
}

.full-width {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.full-height {
  height: 100vh;
}

.box-inside {
  max-width: 1240px;
  width: 100%;
  padding: 4em 1em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.flex-centered {
  max-width: 1240px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.narrow-text {
  max-width: 26rem;
}

.narrow-text-xs {
  max-width: 28rem;
}

.navigation {
  background-color: unset;
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.apto-presentation {
  min-height: 30em;
  height: 100vh;
  overflow: clip;
  overflow-y: visible;
}
.apto-presentation .apto-background {
  -webkit-mask-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
          mask-image: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  height: 100vh;
  width: 100vw;
  min-height: 30em;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.apto-presentation .apto-background .mask {
  background: url(../img/kinesics_solutions_apto_hero_background.jpg) center center;
  background-size: cover;
  height: 100vh;
  min-height: 30em;
  width: 100%;
}
.apto-presentation .apto-oggetto {
  min-height: 30em;
  height: 100vh;
  width: 100%;
  background: url(../img/kinesics_solutions_apto_hero_page_overlay.png) center center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}
.apto-presentation .preview-container {
  min-height: 30em;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.apto-presentation .preview-container .text-content {
  max-width: 1240px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.apto-presentation .preview-container .text-content .text {
  text-align: center;
  width: 100%;
}
.apto-presentation .preview-container .text-content .text .logo-apto {
  max-width: 18em;
  overflow: visible;
  width: 100%;
}

.apto-intro {
  min-height: 50em;
  height: 100vh;
}
.apto-intro .round-circle {
  background-color: #E53B1A;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  opacity: 0;
  filter: blur(0.25rem);
}
.apto-intro .intro-text {
  height: 100%;
  justify-content: center;
}

.apto-video {
  opacity: 0;
  filter: blur(1rem);
  overflow-x: hidden;
}
.apto-video p {
  color: white;
}
.apto-video .box-inside .video-presentation .video-text {
  border-radius: 1rem;
  height: 16em;
  transform-origin: center center;
  -o-object-fit: cover;
     object-fit: cover;
}
.apto-video .box-inside .container-image {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  width: 100%;
}
.apto-video .box-inside .container-image .row {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 2em;
  position: relative;
  width: 100%;
}
.apto-video .box-inside .container-image .row.r1 {
  margin-bottom: 2em;
}
.apto-video .box-inside .container-image .row.r2 {
  position: relative;
}
.apto-video .box-inside .container-image .row img {
  width: 100%;
  border-radius: 1rem;
  max-width: 26em;
}
.apto-video .box-inside .container-image .row p {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
}

.apto-immediato {
  height: 55vh;
  padding: 0 1em;
}
.apto-immediato .flex-centered {
  position: -webkit-sticky;
  position: sticky;
  top: calc(50vh - 47px);
}
.apto-immediato p {
  color: white;
}

.apto-feature {
  height: unset;
}
.apto-feature .description-feature {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  gap: 1rem;
  overflow: hidden;
  height: auto;
}
.apto-feature .description-feature .content p {
  color: white;
}
.apto-feature .description-feature .img-feature {
  max-width: 15em;
  background-color: #EDEDF4;
  padding: 2rem;
  -webkit-clip-path: circle(45%);
          clip-path: circle(45%);
  position: relative;
}
.apto-feature .description-feature .img-feature img {
  width: 100%;
}
.apto-feature .gallery-feature {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  position: relative;
  padding-top: 0;
}
.apto-feature .gallery-feature img {
  width: 100%;
  border-radius: 1rem;
}
.apto-feature .gallery-feature img:nth-child(2) {
  align-self: center;
}

.apto-avanguardia {
  height: 55vh;
  padding: 0 1em;
}
.apto-avanguardia .flex-centered {
  position: -webkit-sticky;
  position: sticky;
  top: calc(50vh - 47px);
}

.apto-tecnologia {
  height: unset;
  overflow: hidden;
}
.apto-tecnologia .description-tecnologia {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0;
}
.apto-tecnologia .description-tecnologia .img-tecnologia {
  position: relative;
  height: 16em;
  width: 16em;
}
.apto-tecnologia .description-tecnologia .img-tecnologia img {
  position: absolute;
  width: 100%;
}
.apto-tecnologia .feature-tecnologia {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.apto-tecnologia .feature-tecnologia .feature {
  padding: 2rem 1rem;
  border-radius: 1rem;
  min-height: 14em;
  max-width: 26em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.apto-tecnologia .feature-tecnologia .feature.arredamento {
  background: url(../img/kinesics_solutions_apto_tecnnologia_arredamento.jpg);
  background-size: cover;
}
.apto-tecnologia .feature-tecnologia .feature.materiali {
  background: url(../img/kinesics_solutions_apto_tecnnologia_materiali.jpg);
  background-size: cover;
}
.apto-tecnologia .feature-tecnologia .feature.aptica {
  background: url(../img/kinesics_solutions_apto_tecnnologia_aptica.jpg);
  background-size: cover;
}

.apto-nulla {
  height: 55vh;
  padding: 0 1em;
}
.apto-nulla .flex-centered {
  position: -webkit-sticky;
  position: sticky;
  top: calc(50vh - 47px);
}

.apto-compatibilita {
  height: unset;
}
.apto-compatibilita .description-compatibilita {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.apto-compatibilita .description-compatibilita .grid-compatibilita {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  position: relative;
}
.apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items {
  padding: 2rem 1rem;
  border-radius: 1rem;
  min-height: 18em;
  max-width: 26em;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background-color: #EDEDF4;
}
.apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items.lavoro {
  background: url(../img/kinesics_solutions_apto_compatibilita_lavoro.jpg);
  background-size: cover;
  background-position: center;
}
.apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items.amore {
  background: url(../img/kinesics_solutions_apto_compatibilita_relazioni.jpg);
  background-size: cover;
  background-position: center;
}
.apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items.istruzione {
  background: url(../img/kinesics_solutions_apto_compatibilita_istruzione.jpg);
  background-size: cover;
  background-position: center;
}
.apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items img {
  max-width: 5rem;
}

.apto-stories {
  height: 55vh;
  padding: 0 1em;
}
.apto-stories p {
  color: white;
}
.apto-stories .flex-centered {
  position: -webkit-sticky;
  position: sticky;
  top: calc(50vh - 47px);
}

.apto-testimonial .description-testimonial {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  gap: 1rem;
}
.apto-testimonial .description-testimonial .content p {
  color: white;
}
.apto-testimonial .description-testimonial .content .ah5 {
  color: #E53B1A;
  text-transform: uppercase;
}
.apto-testimonial .description-testimonial .container-video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
  overflow: hidden;
}
.apto-testimonial .description-testimonial .container-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.apto-acquisto {
  height: unset;
}
.apto-acquisto .description-acquisto {
  display: flex;
  flex-flow: column-reverse nowrap;
  align-items: center;
  gap: 1rem;
}
.apto-acquisto .description-acquisto .apto {
  width: 100%;
  border-radius: 1rem;
  min-height: 18em;
  max-width: 26em;
  background: url(../img/kinesics_solutions_apto_preview.jpg);
  background-position: center;
  background-size: cover;
}
.apto-acquisto .description-acquisto .content {
  background-color: white;
  width: 100%;
  padding: 3rem 1rem;
  border-radius: 1rem;
  max-width: 26em;
}

@-webkit-keyframes blurHero {
  0% {
    filter: blur(0rem);
  }
  100% {
    filter: blur(1rem);
  }
}

@keyframes blurHero {
  0% {
    filter: blur(0rem);
  }
  100% {
    filter: blur(1rem);
  }
}
@media all and (orientation: landscape) and (max-height: 30em) {
  .apto-intro {
    min-height: 30em;
  }
  .apto-intro .round-circle {
    background-color: #E53B1A;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0;
    filter: blur(0.25rem);
  }
  .apto-video .box-inside .flex-centered video {
    border-radius: 1rem;
    height: 18em;
    max-width: 26em;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .apto-video .box-inside .container-image {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    width: 100%;
  }
  .apto-video .box-inside .container-image .row {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 2em;
    position: relative;
    width: 100%;
  }
  .apto-video .box-inside .container-image .row.r1 {
    margin-bottom: 2em;
  }
  .apto-video .box-inside .container-image .row.r2 {
    position: relative;
  }
  .apto-video .box-inside .container-image .row img {
    width: 100%;
    border-radius: 1rem;
    max-width: 26em;
  }
  .apto-immediato {
    min-height: 100vh;
  }
  .apto-feature {
    height: unset;
  }
  .apto-feature .description-feature {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    gap: 1rem;
  }
  .apto-feature .description-feature .img-feature {
    max-width: 15em;
    background-color: #EDEDF4;
    padding: 2rem;
    -webkit-clip-path: circle(45%);
            clip-path: circle(45%);
    position: relative;
  }
  .apto-feature .description-feature .img-feature img {
    width: 100%;
  }
  .apto-feature .gallery-feature {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  .apto-feature .gallery-feature img {
    width: 100%;
    border-radius: 1rem;
    max-width: 26em;
  }
  .apto-avanguardia {
    min-height: 30em;
  }
  .apto-tecnologia {
    height: unset;
  }
  .apto-tecnologia .description-tecnologia {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
  }
  .apto-tecnologia .description-tecnologia .img-tecnologia {
    position: relative;
    height: 16em;
    width: 16em;
  }
  .apto-tecnologia .description-tecnologia .img-tecnologia img {
    position: absolute;
    width: 100%;
  }
  .apto-tecnologia .feature-tecnologia {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  .apto-tecnologia .feature-tecnologia .feature {
    padding: 2rem 1rem;
    border-radius: 1rem;
    min-height: 14em;
    max-width: 26em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .apto-tecnologia .feature-tecnologia .feature.arredamento {
    background: url(../img/kinesics_solutions_apto_tecnnologia_arredamento.jpg);
    background-size: cover;
  }
  .apto-tecnologia .feature-tecnologia .feature.materiali {
    background: url(../img/kinesics_solutions_apto_tecnnologia_materiali.jpg);
    background-size: cover;
  }
  .apto-tecnologia .feature-tecnologia .feature.aptica {
    background: url(../img/kinesics_solutions_apto_tecnnologia_aptica.jpg);
    background-size: cover;
  }
  .apto-nulla {
    min-height: 30em;
  }
  .apto-compatibilita {
    height: unset;
  }
  .apto-compatibilita .description-compatibilita {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items {
    padding: 2rem 1rem;
    border-radius: 1rem;
    min-height: 18em;
    max-width: 26em;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #EDEDF4;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items.lavoro {
    background: url(../img/kinesics_solutions_apto_compatibilita_lavoro.jpg);
    background-size: cover;
    background-position: center;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items.amore {
    background: url(../img/kinesics_solutions_apto_compatibilita_relazioni.jpg);
    background-size: cover;
    background-position: center;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items.istruzione {
    background: url(../img/kinesics_solutions_apto_compatibilita_istruzione.jpg);
    background-size: cover;
    background-position: center;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items img {
    max-width: 5rem;
  }
  .apto-stories {
    min-height: 30em;
  }
  .apto-testimonial {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .apto-testimonial .description-testimonial {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
  }
  .apto-testimonial .description-testimonial .container-video {
    position: relative;
    width: 100%;
    padding-top: 0%;
    overflow: hidden;
    max-width: 26em;
  }
  .apto-testimonial .description-testimonial .container-video .video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
  }
  .apto-testimonial .description-testimonial .container-video .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  .apto-acquisto {
    height: unset;
  }
  .apto-acquisto .description-acquisto {
    display: flex;
    flex-flow: column-reverse nowrap;
    align-items: center;
    gap: 1rem;
  }
  .apto-acquisto .description-acquisto .apto {
    width: 100%;
    border-radius: 1rem;
    min-height: 18em;
    max-width: 26em;
    background: url(../img/kinesics_solutions_apto_preview.jpg);
    background-position: center;
    background-size: cover;
  }
  .apto-acquisto .description-acquisto .content {
    background-color: white;
    width: 100%;
    padding: 3rem 1rem;
    border-radius: 1rem;
    max-width: 26em;
  }
}
@media all and (min-width: 42em) and (min-height: 30em) {
  .ah2 {
    font-family: "Nunito", sans-serif;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
  }
  .ah3 {
    font-family: "Nunito", sans-serif;
    font-size: 2.5rem;
    line-height: 3.25rem;
  }
  .ah4 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.25rem;
  }
  .mb {
    margin-bottom: 2rem;
  }
  .mbxl {
    margin-bottom: 6rem;
  }
  .box-inside {
    padding: 5em 1em;
  }
  .narrow-text {
    max-width: 35rem;
  }
  .apto-presentation .preview-container .text-content .text .logo-apto {
    max-width: 26em;
  }
  .apto-video .box-inside .video-presentation .video-text {
    height: 100%;
  }
  .apto-tecnologia {
    height: unset;
    overflow-x: hidden;
  }
  .apto-tecnologia .description-tecnologia {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    padding-bottom: 0;
  }
  .apto-tecnologia .description-tecnologia .img-tecnologia {
    position: relative;
    height: 32em;
    width: 32em;
  }
  .apto-tecnologia .description-tecnologia .img-tecnologia img {
    position: absolute;
    width: 100%;
  }
  .apto-tecnologia .feature-tecnologia {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 1rem;
    position: relative;
  }
  .apto-tecnologia .feature-tecnologia .feature {
    padding: 2rem 1rem;
    border-radius: 1rem;
    min-height: 14em;
    max-width: 26em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .apto-tecnologia .feature-tecnologia .feature.arredamento {
    background: url(../img/kinesics_solutions_apto_tecnnologia_arredamento.jpg);
    background-size: cover;
  }
  .apto-tecnologia .feature-tecnologia .feature.materiali {
    background: url(../img/kinesics_solutions_apto_tecnnologia_materiali.jpg);
    background-size: cover;
  }
  .apto-tecnologia .feature-tecnologia .feature.aptica {
    background: url(../img/kinesics_solutions_apto_tecnnologia_aptica.jpg);
    background-size: cover;
  }
}
@media all and (min-width: 50em) and (min-height: 30em) {
  .apto-intro {
    min-height: 50em;
    height: 130vh;
  }
  .apto-intro .round-circle {
    background-color: #E53B1A;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    opacity: 0;
    filter: blur(0.25rem);
  }
  .apto-intro .intro-text {
    height: 100%;
    justify-content: center;
  }
  .apto-video {
    overflow: visible;
  }
  .apto-video .box-inside .flex-centered video {
    border-radius: 1rem;
    height: unset;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .apto-video .box-inside .container-image .row {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2em;
    position: relative;
  }
  .apto-video .box-inside .container-image .row.r1 {
    margin-bottom: 2em;
    flex-direction: row-reverse;
  }
  .apto-video .box-inside .container-image .row.r1 img {
    width: 50%;
    flex: 0 1 50%;
    max-width: unset;
  }
  .apto-video .box-inside .container-image .row.r1 p {
    width: 50%;
    flex: 0 1 50%;
    text-align: right;
    padding: 3rem;
  }
  .apto-video .box-inside .container-image .row.r2 img {
    width: 50%;
    flex: 0 1 50%;
    max-width: unset;
  }
  .apto-video .box-inside .container-image .row.r2 p {
    width: 50%;
    flex: 0 1 50%;
    text-align: left;
    padding: 3rem;
  }
  .apto-video .box-inside .container-image .row img {
    width: 100%;
    border-radius: 1rem;
  }
  .apto-immediato {
    height: 80vh;
  }
  .apto-immediato .flex-centered {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50vh - 74px);
  }
  .apto-feature {
    overflow: visible;
  }
  .apto-feature .description-feature {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;
  }
  .apto-feature .description-feature .img-feature {
    max-width: 30em;
    background-color: #EDEDF4;
    padding: 4rem;
    -webkit-clip-path: circle(45%);
            clip-path: circle(45%);
    position: relative;
  }
  .apto-feature .description-feature .img-feature img {
    width: 100%;
  }
  .apto-feature .description-feature .content {
    text-align: left;
    max-width: 30em;
    min-width: 20em;
  }
  .apto-feature .gallery-feature {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    gap: 1em;
    height: 50vw;
  }
  .apto-feature .gallery-feature img {
    border-radius: 1rem;
    max-width: calc(50% - 0.5rem);
    width: 100%;
    margin: unset;
    position: relative;
  }
  .apto-feature .gallery-feature:nth-child(2) {
    margin-top: 5vh;
  }
  .apto-avanguardia {
    height: 80vh;
  }
  .apto-avanguardia .flex-centered {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50vh - 74px);
  }
  .apto-tecnologia {
    height: unset;
  }
  .apto-tecnologia .description-tecnologia {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    gap: 2rem;
    justify-content: space-evenly;
  }
  .apto-tecnologia .description-tecnologia .img-tecnologia {
    position: relative;
    max-width: 30em;
    width: 100%;
    max-height: 30em;
    height: 100vh;
  }
  .apto-tecnologia .description-tecnologia .img-tecnologia img {
    position: absolute;
    width: 100%;
  }
  .apto-tecnologia .description-tecnologia .content {
    text-align: left;
    max-width: 30em;
    min-width: 20em;
  }
  .apto-tecnologia .feature-tecnologia {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
  }
  .apto-tecnologia .feature-tecnologia .feature {
    flex: 1 1 30%;
    min-width: 20em;
    padding: 2rem 1rem;
    min-height: 18em;
    max-width: unset;
  }
  .apto-nulla {
    height: 80vh;
  }
  .apto-nulla .flex-centered {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50vh - 74px);
  }
  .apto-compatibilita .description-compatibilita {
    display: flex;
    flex-flow: row nowrap;
    gap: 2rem;
  }
  .apto-compatibilita .description-compatibilita .content {
    flex: 1 1 40%;
    text-align: left;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 4rem;
    margin: 0;
    align-self: flex-end;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita {
    flex: 1 1 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items {
    padding: 2rem 1rem;
    border-radius: 1rem;
    min-height: 18em;
    max-width: 100%;
    width: 100%;
    height: 100%;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items.amore {
    grid-column: 2;
    grid-row: 2;
  }
  .apto-compatibilita .description-compatibilita .grid-compatibilita .grid-items img {
    max-width: 5rem;
  }
  .apto-stories {
    height: 80vh;
  }
  .apto-stories .flex-centered {
    position: -webkit-sticky;
    position: sticky;
    top: calc(50vh - 74px);
  }
  .apto-testimonial .description-testimonial {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
    gap: 2rem;
  }
  .apto-testimonial .description-testimonial .content {
    text-align: left;
    margin: 0;
  }
  .apto-testimonial .description-testimonial .container-video {
    position: relative;
    width: 100%;
    padding-top: 0%;
    overflow: hidden;
  }
  .apto-testimonial .description-testimonial .container-video .video {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
  }
  .apto-testimonial .description-testimonial .container-video .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
  }
  .apto-acquisto .description-acquisto {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-items: stretch;
    gap: 1rem;
  }
  .apto-acquisto .description-acquisto .apto {
    width: 100%;
    border-radius: 1rem;
    min-height: 18em;
    height: auto;
    max-width: 50%;
  }
  .apto-acquisto .description-acquisto .content {
    background-color: white;
    width: 100%;
    padding: 5rem 1rem;
    border-radius: 1rem;
    max-width: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
  }
}/*# sourceMappingURL=apto.css.map */