@import 'variables';

body {
    background-color: $blueblack;
}

section {
    color: white;
    padding-bottom: 2em;

    & p {
        max-width: unset;
    }

    & .container-section {
        flex-flow: column wrap;
        text-align: left;
        max-width: 60ch;
        margin: 0 auto;
        margin-top: 2em;

        & .container-note {
            columns: 1;

            & p {
                margin-bottom: 1rem;
            }

            & ul {
                list-style-position: ouside;
                margin-bottom: 1rem;
                margin-left: 1rem;

                & li {
                   font-style: italic;
                   padding: 0.125rem 0;
                }

                & li::marker {
                    color: $redorange;
                }
            }
            
        }
        
    }
}

@media all and (min-width: 1024px) { 
    section {
    
        & .container-section {

            max-width: 1240px;
    
            & .container-note {
                columns: 2;
                gap: 5rem;
    
                & p {
                    margin-bottom: 1rem;
                }
    
                & ul {
                    list-style-position: ouside;
                    margin-bottom: 1rem;
                    margin-left: 1rem;
    
                    & li {
                       font-style: italic;
                       padding: 0.125rem 0;
                    }
    
                    & li::marker {
                        color: $redorange;
                    }
                }
                
            }
            
        }
    }

}