@import 'variables'; 

.prodotti {
    min-height: 36em;
    display: flex; 
    flex-direction: column;
    justify-content: flex-end;
    background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 80%), url("../img/kinesics_solutions_prodotti.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.griglia-prodotti {

    padding: 0 1em $elementspace 1em; 
    
    & .container-section {

        display: grid;
        gap: 1em; 

        & a > .product-card {
            padding: 1em;
            height: 22em; 
            width: 100vw;
            max-width: 22em;
            border-radius: 1em;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            text-align: left;
            text-transform: none;
            transition: all 0.6s ease;
            align-self: center;

            & h3 {
                color: $blueblack;
            }

            & .small {
                padding: 0;
                margin: 0.75rem 0 0 0;
                color: $redorange;
                line-height: 1;
            }

            & .card-button::after {
                font-family: 'Material Icons';
                content: '\e5e1';
                display: block;
                color: $redorange; 
                border: 1px solid $redorange;
                padding: 0.5rem;
                border-radius: 100%;
                line-height: 1;
                   
            }
        }
        & a:nth-child(1) > .product-card {
            background: linear-gradient(0deg, rgba(237,237,244,1) 10%, rgba(237,237,244,0) 50%), url(../img/kinesics_solutions_apto_preview.jpg) center center ;
            background-size: auto 105%;

            &:hover {
                background-size: auto 115%;
            }
            
        }

        & a:nth-child(2) > .product-card {
            background: linear-gradient(0deg, rgba(237,237,244,1) 10%, rgba(237,237,244,0) 50%), url(../img/kinesics_solutions_kiro_preview.jpg) center center ;
            background-size: auto 100%;

            &:hover {
                background-size: auto 110%;
            }

            & .small {
                color: $deepgray;
            }            
        }

        & a:nth-child(3) > .product-card {
            background: linear-gradient(0deg, rgba(237,237,244,1) 10%, rgba(237,237,244,0) 50%), url(../img/kinesics_solutions_method_preview.jpg) center center ;
            background-size: auto 100%;

            &:hover {
                background-size: auto 110%;
            }

            & .small {
                color: $deepgray;
            }
        }

        & a:nth-child(4) > .product-card {
            background: linear-gradient(0deg, rgba(237,237,244,1) 10%, rgba(237,237,244,0) 50%), url(../img/kinesics_solutions_tylo_preview.jpg) center center ;
            background-size: auto 100%;

            &:hover {
                background-size: auto 110%;
            }

            & .small {
                color: $deepgray;
            }
        }

        & .more-card {
            background-color: $redorange;
            padding: 2em 1em; 
            border-radius: 1em;
        }

    }
}

@media all and (min-width: 768px) { 

    .prodotti {
        min-height: 46em;
        display: flex; 
        flex-direction: column;
        justify-content: flex-end;
        background: linear-gradient(0deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0) 80%), url("../img/kinesics_solutions_prodotti.jpg") center center;
        background-size: cover;
        background-repeat: no-repeat;
    
    }
    
}

@media all and (min-width: 1024px) { 

}