@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Nunito:wght@500;600;700;800&display=swap");
.preview-product {
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  padding: 4rem 1em;
  text-align: center;
}
.preview-product .preview-container {
  max-width: 26em;
  margin: 0 auto;
}
.preview-product .preview-container .text-content {
  z-index: 2;
}
.preview-product .preview-container .text-content p {
  opacity: 0.5;
  line-height: 1.7;
  margin-top: 1rem;
}
.preview-product .preview-container .text-content .btn-full:hover {
  background-color: transparent;
}
.preview-product .preview-container .text-content svg {
  height: 3rem;
  fill: #212529;
}
.preview-product .preview-container .text-content svg.tylo-svg {
  height: 4rem;
}
.preview-product .preview-container .text-content h4 {
  line-height: 1.3;
}

.kiro {
  background: linear-gradient(0deg, rgb(237, 237, 244) 0%, rgba(237, 237, 244, 0) 60%), url("../img/kinesics_solutions_kiro_preview.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.tylo {
  background: linear-gradient(0deg, rgb(237, 237, 244) 0%, rgba(237, 237, 244, 0) 60%), url("../img/kinesics_solutions_tylo_preview.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.method {
  background: linear-gradient(0deg, rgb(237, 237, 244) 0%, rgba(237, 237, 244, 0) 60%), url("../img/kinesics_solutions_method_preview.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.apto {
  background: linear-gradient(0deg, rgb(237, 237, 244) 0%, rgba(237, 237, 244, 0) 60%), url("../img/kinesics_solutions_apto_preview.jpg") center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.navigation {
  background-color: #EDEDF4;
  padding-top: 0;
  z-index: 2;
  width: 100%;
}
.navigation .container-section .correlati {
  max-width: 26em;
  margin: 0 auto;
}
.navigation .container-section .correlati .content {
  margin-bottom: 1em;
}
.navigation .container-section .correlati .content p {
  text-transform: uppercase;
  margin-bottom: 1em;
  font-size: 0.9rem;
}
.navigation .container-section .correlati .content .altri {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1em;
}
.navigation .container-section .correlati .content .altri h4 {
  text-transform: lowercase;
}
.navigation .container-section .correlati .content .altri a {
  flex: 1 1 10em;
  margin-top: unset;
  transition: all 0.6s ease-out;
}
.navigation .container-section .correlati .content .altri a .altro-prodotto {
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 10em;
  transition: all 0.6s ease-out;
  pointer-events: none;
}
.navigation .container-section .correlati .content .altri a .altro-prodotto.kiro {
  background: url("../img/kinesics_solutions_kiro_more.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navigation .container-section .correlati .content .altri a .altro-prodotto.tylo {
  background: url("../img/kinesics_solutions_tylo_more.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navigation .container-section .correlati .content .altri a .altro-prodotto.method {
  background: url("../img/kinesics_solutions_method_more.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navigation .container-section .correlati .content .altri a .altro-prodotto.apto {
  background: url("../img/kinesics_solutions_apto_more.jpg") center center;
  background-size: 100%;
  background-repeat: no-repeat;
}
.navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.tylo, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.method, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.kiro, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.apto {
  background-size: 120%;
  transition: all 0.6s ease-out;
}
.navigation .container-section .correlati .content a {
  margin-top: 1em;
  display: block;
}
.navigation .container-section .correlati .content .back {
  background-color: #9D9D9D;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.6s ease-out;
}
.navigation .container-section .correlati .content .back:hover {
  background-color: #212529;
}
.navigation .container-section .cta {
  background-color: #E53B1A;
  border-radius: 1em;
  padding: 2rem 1rem;
  max-width: 26em;
  margin: 0 auto;
  z-index: 2;
  min-height: 22em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.navigation .container-section .cta p {
  color: white;
}
.navigation .container-section .cta .small {
  margin-top: 0;
}

@media all and (max-height: 30em) and (orientation: landscape) {
  .preview-product {
    min-height: 38em;
  }
}
@media all and (min-width: 50em) and (min-height: 30em) {
  .preview-product {
    padding: 5rem 1em;
  }
  .preview-product .preview-container {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
  }
  .preview-product .preview-container .text-content {
    max-width: 28em;
  }
  .preview-product .preview-container .text-content p {
    line-height: 1.7;
    margin-top: 2rem;
  }
  .preview-product .preview-container .text-content .btn-full:hover {
    background-color: transparent;
  }
  .preview-product .preview-container .text-content h1 {
    font-weight: 700;
    margin-bottom: 0;
  }
  .preview-product .preview-container .text-content h4 {
    line-height: 1.3;
  }
  .kiro {
    background: radial-gradient(0deg, rgba(237, 237, 244, 0) 50%, rgb(237, 237, 244) 80%), url("../img/kinesics_solutions_kiro_preview.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .tylo {
    background: linear-gradient(0deg, rgb(237, 237, 244) 0%, rgba(237, 237, 244, 0) 60%), url("../img/kinesics_solutions_tylo_preview.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .method {
    background: linear-gradient(0deg, rgb(237, 237, 244) 0%, rgba(237, 237, 244, 0) 60%), url("../img/kinesics_solutions_method_preview.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .apto {
    background: linear-gradient(0deg, rgb(237, 237, 244) 0%, rgba(237, 237, 244, 0) 60%), url("../img/kinesics_solutions_apto_preview.jpg") center center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .navigation {
    padding-top: 0;
    padding-bottom: 5rem;
  }
  .navigation .container-section {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
  }
  .navigation .container-section .correlati {
    max-width: 50%;
    width: 100%;
    margin: unset;
    position: relative;
  }
  .navigation .container-section .correlati .content {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: unset;
    display: flex;
    flex-direction: column;
  }
  .navigation .container-section .correlati .content p {
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  .navigation .container-section .correlati .content .altri {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    flex: 1 1 auto;
  }
  .navigation .container-section .correlati .content .altri a {
    margin-top: unset;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    pointer-events: none;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.kiro {
    background-size: 200%;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.tylo {
    background-size: 200%;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.method {
    background-size: 200%;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.apto {
    background-size: 200%;
  }
  .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.tylo, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.method, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.kiro, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.apto {
    background-size: 220%;
  }
  .navigation .container-section .correlati .content a {
    margin-top: 1em;
    display: block;
  }
  .navigation .container-section .cta {
    background-color: #E53B1A;
    border-radius: 1em;
    padding: 4rem 1rem;
    max-width: 50%;
    width: 100%;
    margin: none;
  }
}
@media all and (min-width: 1024px) {
  .preview-product .preview-container {
    max-width: 26em;
    margin: 0 auto;
  }
  .preview-product .preview-container p {
    opacity: 0.5;
    line-height: 1.7;
    margin-top: 1rem;
  }
  .preview-product .preview-container .btn-full:hover {
    background-color: transparent;
  }
  .preview-product .preview-container h1 {
    font-weight: 700;
  }
  .preview-product .preview-container h4 {
    line-height: 1.3;
  }
  .navigation .container-section {
    max-width: 1240px;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap: 1em;
  }
  .navigation .container-section .correlati {
    max-width: 50%;
    width: 100%;
    margin: unset;
    position: relative;
  }
  .navigation .container-section .correlati .content {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: unset;
    display: flex;
    flex-direction: column;
  }
  .navigation .container-section .correlati .content p {
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  .navigation .container-section .correlati .content .altri {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 1em;
    flex: 1 1 auto;
  }
  .navigation .container-section .correlati .content .altri a {
    margin-top: unset;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto {
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    pointer-events: none;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.kiro {
    background-size: 150%;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.tylo {
    background-size: 150%;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.method {
    background-size: 150%;
  }
  .navigation .container-section .correlati .content .altri a .altro-prodotto.apto {
    background-size: 150%;
  }
  .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.tylo, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.method, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.kiro, .navigation .container-section .correlati .content .altri a:hover > .altro-prodotto.apto {
    background-size: 170%;
  }
  .navigation .container-section .correlati .content a {
    margin-top: 1em;
    display: block;
    text-align: center;
  }
  .navigation .container-section .cta {
    background-color: #E53B1A;
    border-radius: 1em;
    padding: 4rem 1rem;
    max-width: 50%;
    width: 100%;
    margin: 0;
  }
  .navigation .container-section .cta .text-content {
    width: 100%;
    padding: 0;
    text-align: center;
    max-width: 28em;
  }
}/*# sourceMappingURL=singolo.css.map */